@page
@model WebApp.Pages.CheckoutModel
@{
    Layout = "_LayoutCheckout";
}

<!DOCTYPE html>

<html>
<head>

    <title>Checkout</title>
</head>
    <body>
        @if (Model.Cart.GamesInCart != null)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>Payment Options</h2>
                        <div id="accordion">
                            @*Ideal*@
                            <div class="card">
                                <input type="radio" name="paymentMethod" value="Ideal" id="idealRadio" data-toggle="collapse" data-target="#collapseIdeal" />
                                <label for="idealRadio" class="card-header payment-option" id="headingIdeal" style="cursor:pointer;">
                                    <img src="/Images/Ideal.png" alt="Ideal Icon" class="img-fluid" /> Ideal
                                </label>
                                <div id="collapseIdeal" class="collapse payment-details" data-parent="#accordion">
                                    <div class="card-body">
                                        <select class="form-control">
                                            <option>Select Bank</option>
                                            <option>Rabobank</option>
                                            <option>ING</option>
                                            <option>RegioBank</option>
                                            <option>ABN Amro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*Paypal*@
                            <div class="card">
                                <input type="radio" name="paymentMethod" value="Paypal" id="PaypalRadio" data-toggle="collapse" data-target="#collapsePaypal" />
                                <label for="PaypalRadio" class="card-header payment-option" id="headingPaypal" style="cursor:pointer;">
                                    <img src="/Images/Paypal.png" alt="Paypal Icon" class="img-fluid" /> Paypal
                                </label>
                                <div id="collapsePaypal" class="collapse payment-details" data-parent="#accordion">
                                    <div class="card-body">
                                        Paypal Selected.
                                    </div>
                                </div>
                            </div>


                            @*Creditcard*@
                            <div class="card">
                                <input type="radio" name="paymentMethod" value="Creditcard" id="CreditcardRadio" data-toggle="collapse" data-target="#collapseCreditCard" />
                                <label for="CreditcardRadio" class="card-header payment-option" id="headingCreditCard" style="cursor:pointer;">
                                    <img src="/Images/CreditCard.png" alt="Credit Card Icon" class="img-fluid" /> Credit Card
                                </label>
                                <div id="collapseCreditCard" class="collapse payment-details" data-parent="#accordion">
                                    <div class="card-body">
                                        <input type="text" class="form-control" placeholder="Card Number" />
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" placeholder="Expiration Date" />
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" placeholder="CVV" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 right-side d-flex flex-column min-vh-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2>Order Summary</h2>
                            <a href="/shoppingcart" class="text-decoration-none">
                                <i class="fas fa-times-circle text-danger fa-2x"></i>
                            </a>
                        </div>

                        <div id="order-summary">
                            <ul class="list-group">
                                    @foreach (var game in Model.Cart.GamesInCart)
                                    {
                                        var spotlightImages = game.Images.Where(image => image.ImageType == "Spotlight");
                                        foreach (var image in spotlightImages)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img src="@image.ImageURL" alt="Image" class="img-fluid game-image">
                                                    <span class="ml-3">@game.Title</span>
                                                </div>
                                                <div class="GamePrice">
                                                    <span id="price" class="font-weight-bold">@game.Price.ToString("C")</span>
                                                </div>
                                            </div>
                                        }
                                    }
                            </ul>
                            <form id="discountForm" method="post" asp-page-handler="ApplyDiscount">
                                <input class="input-text" type="text" name="discountCode" placeholder="Enter discount code" />
                                <input type="hidden" id="actionField" name="action" value="apply" /> 
                                <button class="button" type="submit">Apply Discount</button> 
                                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                {
                                    <div id="errorMessage" class="errorMessage">@Model.ErrorMessage</div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Cart.DiscountCode))
                                {
                                    <p id="removeDiscountCode" class="remove-discount" style="cursor: pointer; text-decoration: underline;">Remove Discount Code: @Model.Cart.DiscountCode</p>
                                }
                                @if (Model.Cart.DiscountedTotal > 0)
                                {
                                    <p>Discount applied: @Model.Cart.DiscountedTotal.ToString("C")</p>
                                }
                            </form>
                            <div class="total-price">
                                @{
                                    decimal totalPrice = 0;

                                    foreach (var game in @Model.Cart.GamesInCart)
                                    {
                                        totalPrice += game.Price;
                                    }
                                }

                                @if (totalPrice > Model.Cart.Subtotal)
                                {
                                    <div id="original-price" class="mr-2">
                                        <span>Price:</span>
                                        <span style="text-decoration: line-through;">@totalPrice.ToString("C")</span>
                                </div>
                                }

                                <div id="discounted-price" class="font-weight-bold">
                                    <span>Price after Discount:</span>
                                    <span>@Model.Cart.Subtotal.ToString("C")</span>
                                </div>

                                <form id="paymentForm" method="post" asp-page-handler="ProcessPayment">
                                    <input type="hidden" asp-for="checkoutInfo.PaymentType" name="checkoutInfo.PaymentType" />
                                    <button type="submit" class="btn btn-primary">Pay</button>
                                    <div id="errorMessage" class="errorMessage">@TempData["ErrorMessage"]</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    
    </body>
</html>