@page "/Details/{id:int}"
@model WebApp.Pages.DetailsModel
@{
    Layout = "_layoutDetail";
    ViewData["Title"] = "Game Details";
}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!-- Carousel Start -->
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-9">
                <div id="carouselsliderdemo" class="carousel slide">
                    <div class="carousel-inner">
                        <!-- Trailer Slide-->
                        <div class="carousel-item active">
                            <div class="video-container">
                                <iframe id="game-trailer" src="@Model.Game.Trailer" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        @foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Detail"))
                        {
                            var activeClass = image == Model.Game.Images.FirstOrDefault() ? "active" : "";
                            <div class="carousel-item @activeClass">
                                <img src="@image.ImageURL" alt="DetailImage" class="d-block w-70">
                            </div>
                        }
                    </div>
                    <!-- Indicator start -->
                    <div class="carousel-indicators-wrapper">
                        <div class="carousel-indicators">
                            @{
                                foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Thumbnail"))
                                {
                                    <button type="button" data-bs-target="#carouselsliderdemo" class="active img-thumbnail" data-bs-slide-to="0">
                                        <img src="@image.ImageURL" alt="Video thumbnail" class="d-block w-100">
                                    </button>
                                }
                               
                              }
                               
                                @{
                                    int indicatorIndex = 1;
                                    foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Detail"))
                                    {
                                        <button type="button" data-bs-target="#carouselsliderdemo" class="img-thumbnail" data-bs-slide-to="@indicatorIndex">
                                            <img src="@image.ImageURL" alt="DetailImage" class="d-block w-100">
                                        </button>
                                        indicatorIndex++;
                                    }
                                }
                        </div>
                    </div>
                    
                    <!-- Indicator Close -->
                </div>
                <hr class="custom-hr">
            </div>
            <!-- Carousel Close -->
            <div class="col-lg-3">
                <div id="PurchaseArea" class="Purchase Area">
                    <p>Purchase Area :)</p>
                    <p>Incoming very soon!</p>
                    <form method="post">
                        <input type="hidden" name="gameId" value="@Model.Game.GameId" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

   <div class="container">
     <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">
                    <div class="Genrebox">
                            <h6>Genres</h6>
                            @foreach (var genre in Model.Game.Genres)
                            {
                                <span class="genre-item">@genre.Name</span>
                            }
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="Featurebox">
                            <h6>Features</h6>
                            @foreach (var feature in Model.Game.Features)
                            {
                                <span class="feature-item">@feature.Name</span>
                            }
                    </div>
                </div>
  
               
                <div class="Title">
                        <h2>@Model.Game.Title</h2>
                </div>
                
                <div class="Description">
                        <p>@Model.Game.Description</p>
                </div>
                

                <h3>Specifications</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card custom-card">
                            <div class="card-body">
                                <h5 class="card-title">Minimum</h5>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">OS</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").OS</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Processor</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Processor</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Memory</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Memory</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Graphics</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Graphics</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">DirectX</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").DirectX</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Storage</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Storage</td>
                                        </tr>
                                        @if (Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Other != null)
                                        {
                                            <tr>
                                                <th scope="row">Other</th>
                                                <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Other</td>
                                            </tr>
                                        }
                                        @if (Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Logins != null)
                                        {
                                            <tr>
                                                <th scope="row">Other</th>
                                                <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Minimum").Logins</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card custom-card">
                            <div class="card-body">
                                <h5 class="card-title">Recommended</h5>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">OS</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").OS</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Processor</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Processor</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Memory</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Memory</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Graphics</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Graphics</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">DirectX</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").DirectX</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Storage</th>
                                            <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Storage</td>
                                        </tr>
                                        @if (Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Other != null)
                                        {
                                            <tr>
                                                <th scope="row">Other</th>
                                                <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Other</td>
                                            </tr>
                                        }
                                        @if (Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Logins != null)
                                        {
                                            <tr>
                                                <th scope="row">Other</th>
                                                <td>@Model.Game.Specifications.FirstOrDefault(s => s.SpecificationType == "Recommended").Logins</td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </div>
    
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>
