@page "/Details/{id:int}"
@model WebApp.Pages.DetailsModel
@{
    Layout = "_layoutIndex";
    ViewData["Title"] = "Game Details";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image Slider Carousel With Thumbas</title>

</head>

<body>
    <!-- Carousel Start -->
    <div class="row">
        <div class="col-md-12">
            <div id="carouselsliderdemo" class="carousel slide">
                <div class="carousel-inner">
                    <!-- Trailer Slide-->
                    <div class="carousel-item active">
                        <div class="video-container">
                            <iframe id="game-trailer" src="@Model.Game.Trailer" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/CyberPunk_Detail1.png" class="d-block w-70">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/CyberPunk_Detail0.png" class="d-block w-70">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/CyberPunk_Detail2.png" class="d-block w-70">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/CyberPunk_Detail3.png" class="d-block w-70">
                    </div>
                </div>
                <!-- Indicator start -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselsliderdemo" class="active img-thumbnail" data-bs-slide-to="0">
                        <img src="~/Images/CyberPunk_Tumpnail.png" alt="Video thumbnail" class="d-block w-100">
                    </button>
                    @{
                        int indicatorIndex = 1;
                        foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Detail"))
                        {
                            <button type="button" data-bs-target="#carouselsliderdemo" class="img-thumbnail" data-bs-slide-to="@indicatorIndex">
                                <img src="@image.ImageURL" alt="DetailImage" class="d-block w-100">
                            </button>
                            indicatorIndex++;
                        }
                    }
                </div>
                <!-- Indicator Close -->
            </div>
        </div>
    </div>
    <!-- Carousel Close -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>


@*<div class="container">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Detail"))
            {
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="@Model.Game.Images.IndexOf(image)" class="@((Model.Game.Images.IndexOf(image) == 0) ? "active" : "")"></button>
            }
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.Game.Trailer" allowfullscreen></iframe>
                </div>
            </div>
            @foreach (var image in Model.Game.Images.Where(i => i.ImageType == "Detail"))
            {
                <div class="carousel-item">
                    <img src="@image.ImageURL" class="d-block w-100" alt="@Model.Game.Title">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>*@