@page
@model IndexModel
@{
    Layout = "_layoutIndex";
    // Load the image paths into an array
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <title>Game Library</title> 
</head>
    <body>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            @foreach (var game in Model.Games.OrderByDescending(g => g.ReleaseDate).Take(3))
                {
                    var images = game.Images.Where(image => image.ImageType == "Cover Art");
                    var index = Model.Games.IndexOf(game);
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="@index" class="@((index == 0) ? "active" : "")" aria-current="@((index == 0).ToString().ToLower())" aria-label="Image @(index + 1)"></button>
                }
            </div>
            <div class="carousel-inner" data-bs-wrap="true">
            @foreach (var game in Model.Games.OrderByDescending(g => g.ReleaseDate).Take(3))
            {
                var images = game.Images.Where(image => image.ImageType == "Cover Art");
                var index = Model.Games.IndexOf(game);
                <div class="carousel-item @(index == 0 ? "active" : "")" data-bs-interval="4000">
                    @foreach (var image in images)
                    {
                        <img src="@image.ImageURL" class="d-block w-100" alt="Image Slideshow">
                    }
                </div>
            }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        <main>
            <div class="container">
                <div class="row mt-5">
                    @foreach (var game in Model.Games)
                    {
                        var artCoverImages = game.Images.Where(image => image.ImageType == "Spotlight");

                        <div class="col-md-2 mb-2 card-column">
                            <div class="card h-70">
                                @foreach (var image in artCoverImages)
                                {
                                    <img src="@image.ImageURL" class="card-img-top" alt="@game.Title">
                                }
                                <h5 class="card-title">@game.Title</h5>
                                <div class="card-footer">
                                    <small class="text-muted">Price: @game.Price.ToString("C")</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </main>
        </div>
        <div id="search" class="Search bar">
            <form action="/search">
                <input type="text" id="search" name="search" placeholder="Search store" />
                <button type="submit">Search</button>
            </form>
        </div>
    
    @section Scripts {  
       <partial name="_ValidationScriptsPartial" />
    }
    </body>
</html>