@page "/ShoppingCart/{gameId:int?}"
@using WebApp.Pages;
@using LogicLayer.Models.UserFolder;
@model ShoppingCartModel
@{
    Layout = "_LayoutShoppigCart";
    ViewData["Title"] = "Shopping Cart";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var requestToken = Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
}

<input type="hidden" id="RequestVerificationToken" value="@requestToken" />

<!DOCTYPE html>
<html lang="en">

    <head>

    </head>

    <body>
        <h1>Shopping Cart</h1>

        @if (Model.Cart.GamesInCart.Count == 0)
        {
            <p>Your shopping cart is empty.</p>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        @foreach (var game in Model.Cart.GamesInCart)
                        {
                            var SpotlightImages = game.Images.Where(image => image.ImageType == "Spotlight");
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-12">
                                        <div class="card-inner d-flex flex-wrap">
                                            <div class="card-image-wrapper">
                                                @foreach (var image in SpotlightImages)
                                                {
                                                    <img src="@image.ImageURL" alt="@game.Title" class="img-fluid">
                                                }
                                            </div>
                                            <div class="card-content-wrapper d-flex flex-grow-1">
                                                <div class="card-info d-flex justify-content-between align-items-center w-100">
                                                    <div class="card-title">
                                                        <h5 class="card-title">@game.Title</h5>
                                                    </div>
                                                    <div class="card-price">
                                                        @if (game.Price == 0)
                                                        {
                                                            <p class="card-text">Free</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="card-text">€@game.Price</p>
                                                        }
                                                    </div>
                                                </div>
                                            <div class="card-footer mt-auto">
                                                <a href="javascript:void(0);" onclick="removeFromCart('@game.GameId')" class="btn btn-danger">Remove</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-3">
                        <div class="total-price-container">
                            <div class="card price-breakdown-card">
                                <div class="card-body">
                                    <h5 class="card-title-summary">Games Summary</h5>
                                    <ul class="list-group list-group-flush">
                                    @foreach (var game in Model.Cart.GamesInCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span class="game-title">@game.Title</span>
                                            @if (game.Price == 0)
                                            {
                                                <span class="game-price">Free</span>
                                            }
                                            else
                                            {
                                                <span class="game-price">€@game.Price</span>
                                            }

                                            </li>
                                        }
                                    </ul>
                                    <hr class="price-divider" />
                                    <div class="total-price mt-3">
                                        @if(Model.Cart != null)
                                        {
                                            <p>Subtotal: €@Model.Cart.GamesInCart.Sum(g => g.Price)</p>
                                        }
                                    </div>

                                    @if (ViewData["User"] != null)
                                    {
                                        <a href="/Checkout" class="btn btn-primary">Proceed to Checkout</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-primary" id="loginPrompt">Proceed to Checkout</a>
                                        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Login Required</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Please login first to proceed to checkout.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="/Login" class="btn btn-primary">Go to Login</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </body>
</html>